{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@layouts": "./layouts",
          "@components": "./components",
          "@styles": "./styles",
          "@elements": "./elements",
          "@hooks": "./hooks",
          "@partials": "./_partials",
          "@customDecorators": "./.storybook/custom-decorators"
        }
      }
    ]
  ]
}
